torch==1.11.0+cu113
transformers==4.3.3
pandas==1.4.2
scipy==1.6.0
six==1.15.0
cytoolz==0.11.0
tqdm==4.64.0
numpy==1.24.1
scikit_learn==1.2.0
nltk==3.5
spacy==2.3.5
allennlp==2.1.0
datasets==2.3.2
stanfordcorenlp==3.9.1.1
stanfordnlp==0.2.0
stanza==1.4.2
